.popup__form-name {
  margin: 0;
  padding-bottom: 54px;
  line-height: 29px;
  font-weight: 900;
  font-size: 24px;
  color: #000;
}

@media screen and (max-width: 750px) {
  .popup__form-name {
    padding-bottom: 75px;
    line-height: 22px;
    font-size: 18px;
    width: 238px;
    text-align: center;
  }
}
