.popup__form-content {
  padding-top: 34px;
  padding-bottom: 34px;
  padding-left: 36px;
  padding-right: 36px;
  width: 430px;
  min-height: 180px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  background-color: #FFF;
  border-radius: 10px;
}

@media screen and (max-width: 750px) {
  .popup__form-content {
    width: 282px;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 22px;
    padding-right: 22px;
  }

}
