.profile__info-name {
  margin: 0;
  max-width: 345px;
  line-height: 48px;
  font-weight: 500;
  font-size: 42px;
  color: #FFFFFF;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 1000px) {
  .profile__info-name {
    padding-top: 26px;
    padding-bottom: 14px;
    padding-left: 62px;
  }
}

@media screen and (max-width: 560px) {
  .profile__info-name {
    line-height: 33px;
    font-size: 27px;
  }
}
