.profile__info-job {
  margin: 0;
  max-width: 345px;
  line-height: 22px;
  font-weight: 400;
  font-size: 18px;
  color: #FFFFFF;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 1000px) {
  .profile__info-job {
    text-align: center;
    margin: 0 auto;
    padding-bottom: 36px;
  }
}

@media screen and (max-width: 560px) {
  .profile__info-job {
    line-height: 17px;
    font-size: 14px;
  }
}
