.element__like-button {
  margin-bottom: 10px;
  width: 22px;
  height: 19px;
  background: transparent;
  background-image: url(../../../images/heart_button.svg);
  background-repeat: no-repeat;
  background-position: center;
  align-self: flex-end;
  box-sizing: border-box;
  border: 0px;
  transition: opacity .5s linear;
}

.element__like-button:hover {
  opacity: .5;
  cursor: pointer;
}
